// Brand Colors
$brand-color-light: #f5f4ed;
$brand-color-two: #c2d8b9;
$brand-color-blue: #478fcd;
$brand-color-dark: #170f11;
// $brand-color-five:

// Neutral Colors
$white: #ffffff;
$footer-bg-color: #3b3b3a;

// Text & Header Colors
$header-color: #1c2018;
$text-color: rgba(28, 32, 24, 0.8);
$footer-txt-color: #a6a6a6;

// Breakpoints
