.footer-widgets {
  padding: 30px 0;
  margin-bottom: 0;
  background-color: $footer-bg-color;
  color: $footer-txt-color;
}

.footer-widgets h3 {
  color: #fff;
}

.footer-widgets p,
.footer-widgets a {
  font-size: 16px;
  font-weight: thin;
  color: $footer-txt-color;
}

.site-footer {
  background-color: $footer-bg-color;
  border-top: none;
}

.site-footer p,
.site-footer a,
.site-footer .genesis-nav-menu a:hover,
.site-footer .genesis-nav-menu a:focus,
.site-footer .genesis-nav-menu a:active,
.genesis-nav-menu .current-menu-item > a {
  color: $footer-txt-color;
}
