// .full-width-wrapper {
//     box-shadow: 0px 2px 8px #e8e8e8;
// }

.full-width-inner {
  margin: 0 auto;
  padding: 0 30px;

  @media only screen and (min-width: 960px) {
    width: 65%;
  }
}

.dark-bg {
  background-color: $brand-color-dark;

  h2,
  h3,
  p,
  a,
  ul {
    color: $white;
  }
}

.tan-bg {
  background-color: $brand-color-light;

  // h2,
  // h3,
  // p,
  // a,
  // ul {
  //   color: $text-color;
  // }
}
