.jumbo {
  min-height: 60vh;
  background-color: #f5f4ed;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.jumbo-inner {
  width: 75%;
  margin: 0 auto;
}

@media only screen and (min-width: 960px) {
  .jumbo h1 {
    width: 60%;
  }
}
