h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Unna", serif;
  color: $header-color;
  font-weight: 400;
  font-style: normal;
}

p,
ul {
  font-family: "Unna", serif;
  color: $text-color;
  font-weight: 400;
  font-style: normal;
}

a {
  color: $text-color;
  text-decoration: none;
}

// .widget-title {
//   font-weight: 400;
//   font-size: 24px;
// }

// Specifics
.page h1,
.entry-title h1 {
  // font-size: 60px;
  line-height: 1.2em;
  letter-spacing: 0px;
  font-size: 48px;
  text-align: center;
}

h2 {
  font-size: 36px;
  line-height: 1.3em;
  letter-spacing: 0.02em;
}

// h3 {
//   font-size: 36px;
//   line-height: 1.3em;
//   letter-spacing: 0.02em;
// }

// h4 {
//   font-size: 36px;
//   line-height: 1.3em;
//   letter-spacing: 0.02em;
// }

// h5 {
//   font-size: 36px;
//   line-height: 1.3em;
//   letter-spacing: 0.02em;
// }

// h6 {
//   font-size: 36px;
//   line-height: 1.3em;
//   letter-spacing: 0.02em;
// }

p {
  font-size: 22px;
  line-height: 1.6em;
  margin: 0 0 1.6em;
}

// ul {
//   font-size: 22px;
//   line-height: 1.6em;
//   margin: 0 0 1.6em;
// }

// Decorations
.underline {
  text-decoration: underline;
}

.highlight {
  background-color: #ffd849;
}
